/* Pseudoclass */
p:hover {
    color: red;
    font-size: 2em;    
}

div:nth-child(3){
    font-weight: bold;
}
dtv p:nth-child(4){
    font-weight: bold;
    color: lightgreen;
}
/* Pseudoelements */

p::first-line{
    color:blueviolet
}

p::first-letter{
    font-size: 2em;
    color: red;
}
p::before{
    content: "🇷🇴";
}
p::after{
    content: "🩷";
}
::placeholder {
    color: red;
}
