html{
    font-family: monospace;
}

body{
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color: black;
    color: greenyellow;
    
}
.lastResult {
    color:  rgb(33, 173, 23);
    padding: 3px;
}