/* comentarios */
/* selector universal */


*{
    background: papayawhip;
}
    /* selector de tipo/elemento */

div {
background: red;

}

/* selector de clase */

.titulo{
    color: blue;
}
/*selector de id*/
#subtitulo {
    background: black;
    color: greenyellow
}

/* Selector de Atributo */

a[href="https://atigra.es"]{
    color: goldenrod;
}
